In [140]:
import numpy as np
import scipy.stats as sp
import pandas as pd
import matplotlib.pyplot as plt
import math
import random
from sklearn import linear_model
from datetime import datetime
from matplotlib import style

In [141]:
data= pd.read_csv('C:/Users/Admin/Desktop/IN_P/printer.csv', sep = ';')
start_v = 40000
r = 0.23

In [142]:
data

   Years  Income    Cost
0      1  145000  130520
1      2  159500  134668
2      3  175450  139170
3      4  192995  144067
4      5  212295  149408
5      6  233524  155247
6      7  256876  161643
7      8  282564  168665
8      9  310820  176390
9     10  341902  184903

In [143]:
def NPV(dt):
    i=0
    npv = 0
    for i in range(len(dt['Income'])):
        npv = npv + dt.loc[i,'Income']*((1-r)**dt.loc[i,'Years'])-dt.loc[i,'Cost']*((1-r)**dt.loc[i,'Years'])
    npv = npv-start_v*((1-r)**0)
    return npv

def IRR(dt):
    r_i=0
    for j in range(100):
        i=0
        npv = 0
        for i in range(len(dt['Income'])):
            npv= npv + dt.loc[i,'Income']*((1-r_i)**dt.loc[i,'Years'])-dt.loc[i,'Cost']*((1-r_i)**dt.loc[i,'Years'])
        npv = npv-start_v*((1-r_i)**0)
        if npv <= 0:
            break
        r_i=r_i+0.01
    return r_i
def PI(dt):
    i=0
    npv = 0
    pi=0
    for i in range(len(dt['Income'])):
        npv = npv + dt.loc[i,'Income']*((1-r)**dt.loc[i,'Years'])-dt.loc[i,'Cost']*((1-r)**dt.loc[i,'Years'])
    npv = npv-start_v*((1-r)**0)
    pi = npv/start_v
    return pi

def PBP(dt):
    i=0
    P = 0
    pbp=10
    for i in range(len(dt['Income'])):
        P = P + dt.loc[i,'Income']*((1-r)**dt.loc[i,'Years'])-dt.loc[i,'Cost']*((1-r)**dt.loc[i,'Years'])
        if P > start_v:
            pbp = dt.loc[i,'Years']
            break
    return pbp
    
print(NPV(data))
print(IRR(data))
print(PI(data))
print(PBP(data))

106624.482425
0.4300000000000002
2.66561206062
3

In [146]:
data_inv_rat = pd.DataFrame(columns=['NPV','IRR', 'PI', 'PBP'])
data_inv_rat.loc[0,'NPV'] = NPV(data)                            
data_inv_rat.loc[0,'IRR'] = IRR(data)
data_inv_rat.loc[0,'PI'] = PI(data)
data_inv_rat.loc[0,'PBP'] = PBP(data)
data_inv_rat
data_r = pd.DataFrame(columns=['Years','Income','Cost'])
data_r['Years']=data['Years']
i=1
for i in range(1000):
    j =0
    for j in range(len(data_r)):
        data_r.loc[j,'Income'] = random.normalvariate(data.loc[j,'Income'],(data.loc[j,'Income']/3))
        data_r.loc[j,'Cost'] = random.normalvariate(data.loc[j,'Cost'],(data.loc[j,'Cost']/3))
    data_inv_rat.loc[i,'NPV'] = NPV(data_r)                            
    data_inv_rat.loc[i,'IRR'] = IRR(data_r)
    data_inv_rat.loc[i,'PI'] = PI(data_r)
    data_inv_rat.loc[i,'PBP'] = PBP(data_r)
data_inv_rat

         NPV   IRR         PI PBP
0     128571  0.43    3.21428   3
1     222001   0.6    5.55003   2
2    11821.6  0.25   0.295539   9
3    56559.5   0.4    1.41399   4
4    54194.9  0.39    1.35487   3
5    42319.5  0.28    1.05799   8
6    94573.6  0.38    2.36434   4
7     -90572  0.14    -2.2643  10
8     239067  0.78    5.97668   1
9      70235  0.62    1.75588   1
10    162914  0.38    4.07285   5
11   47407.8   0.3    1.18519   6
12    307157  0.64    7.67892   1
13   46840.3  0.29    1.17101   8
14    154806  0.45    3.87015   3
15    9400.6  0.24   0.235015   9
16   87891.4  0.49    2.19729   1
17  -8106.82  0.23  -0.202671  10
18   66588.7  0.44    1.66472   3
19   28164.3   0.3   0.704109   7
20    188653  0.46    4.71633   3
21    125131  0.37    3.12828   5
22    132647  0.58    3.31617   1
23  -47363.1  0.18   -1.18408  10
24   95392.4  0.36    2.38481   4
25   30450.7  0.29   0.761267   7
26   34868.7  0.32   0.871717   1
27   70493.6  0.36    1.76234   5
28  -16796.9  0.22  -0.419923  10
29    281679  0.59    7.04197   2
..       ...   ...        ...  ..
970  98523.1  0.42    2.46308   3
971   -34334  0.19   -0.85835  10
972   136323   0.5    3.40809   2
973   252336  0.64    6.30839   1
974   154867  0.39    3.87166   3
975  58031.4  0.32    1.45078   8
976  28983.7  0.31   0.724594   2
977  93220.4  0.46    2.33051   2
978   122083  0.46    3.05208   1
979  38171.8  0.28   0.954294   9
980   132307  0.68    3.30768   1
981  55490.5  0.32    1.38726   8
982   218003  0.75    5.45008   1
983   100940  0.47     2.5235   1
984   102574  0.39    2.56435   4
985   166382  0.53    4.15954   3
986   120545  0.37    3.01363   5
987  879.418  0.24  0.0219854  10
988   161858  0.67    4.04646   1
989   134482  0.69    3.36205   1
990   103769  0.47    2.59423   2
991   160887  0.54    4.02218   2
992  90308.7  0.59    2.25772   2
993   259659  0.59    6.49147   2
994   185300  0.46    4.63251   4
995   155832  0.38    3.89579   4
996   182999  0.56    4.57499   2
997   149793  0.67    3.74484   1
998   228144  0.67     5.7036   1
999   184266  0.61    4.60664   1

[1000 rows x 4 columns]

In [147]:
data_inv = pd.DataFrame(columns=['Rate','NPV','IRR', 'PI', 'PBP'])
data_inv['Rate'] = ['M(x)', 'D(x)','S(x)', 'CV(x)']
data_inv.loc[0, 'NPV'] = data_inv_rat['NPV'].mean()
data_inv.loc[0, 'IRR'] = data_inv_rat['IRR'].mean()
data_inv.loc[0, 'PI'] = data_inv_rat['PI'].mean()
data_inv.loc[0, 'PBP'] = data_inv_rat['PBP'].mean()

data_inv.loc[1, 'NPV'] = data_inv_rat['NPV'].std()**2
data_inv.loc[1, 'IRR'] = data_inv_rat['IRR'].std()**2
data_inv.loc[1, 'PI'] = data_inv_rat['PI'].std()**2
data_inv.loc[1, 'PBP'] = data_inv_rat['PBP'].std()**2

data_inv.loc[2, 'NPV'] = data_inv_rat['NPV'].std()
data_inv.loc[2, 'IRR'] = data_inv_rat['IRR'].std()
data_inv.loc[2, 'PI'] = data_inv_rat['PI'].std()
data_inv.loc[2, 'PBP'] = data_inv_rat['PBP'].std()

data_inv.loc[3, 'NPV'] = data_inv_rat['NPV'].std()/data_inv.loc[0, 'NPV']
data_inv.loc[3, 'IRR'] = data_inv_rat['IRR'].std()/data_inv.loc[0, 'IRR']
data_inv.loc[3, 'PI'] = data_inv_rat['PI'].std()/data_inv.loc[0, 'PI']
data_inv.loc[3, 'PBP'] = data_inv_rat['PBP'].std()/data_inv.loc[0, 'PBP']
data_inv

    Rate          NPV        IRR        PI      PBP
0   M(x)       107579    0.44136   2.68949     3.98
1   D(x)  7.92853e+09  0.0304574   4.95533  9.88749
2   S(x)      89042.3   0.174521   2.22606  3.14444
3  CV(x)     0.827688   0.395415  0.827688  0.79006